h1 {
    box-sizing: border-box;
    width: min(90%, 30rem);
    margin: 30px auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: cyan;
    text-align: center;
    font-size: clamp(2rem, 8vw, 3.125rem);
}
